.todo{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}
input{
    width: 70%;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
}
button{
    background-color: black;
    color: white;
    margin-left: 5px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
   
    border-radius: 10px;
}
button:hover{
    background-color: yellow;
    color: black;
}
.list{
    margin: auto;
    margin-left: 40px;
    width: 73%;
    height: auto;
    border: none;
    background-color: black;
    color: white;
}
.list-todo{
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
}