.todo{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}
.todos{
    width: 70%;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
}
button{
    background-color: black;
    color: white;
    margin-left: 5px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
   
    border-radius: 10px;
}
button:hover{
    background-color: yellow;
    color: black;
}
.list{
    margin: auto;
    margin-left: 40px;
    width: 73%;
    height: auto;
    border: none;
    color: white;
}
/* .list-todo{
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
} */
.wrapper{
    margin: 5px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-around;
}
.wrapper input[name="todo"]{
    /* pointer-events: none; */
    border: none;
    background: rgba(0,0,0,0);
    color:white;
}
.editClass{
    border: 1px;
    pointer-events: auto;
}
.successClass{
    background-color: green;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 50%;
    color: white;
}
.DangerClass{
    background-color: red;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 50%;
    color: white;
}
